body {
  font-family: "Quicksand", sans-serif;
  color:white;
  background-color: #5487DB;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/*slideshow*/
* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}

}

/*----------------------content--------------*/
h3{
  font-family: Quicksand, cursive;
  font-size: 30px;text-shadow: 2px 2px #113064;
  cursor: pointer;
}

h3:hover{
  color:#2E528E;
}
p{
  font-family: Quicksand;
  font-size: 20px;
  text-shadow:0.5px #ffffff;
  background-color:rgba(0,0,0,0.2);
  border-radius: 10px;
  padding: 10px;
  box-sizing:border-box;
  box-shadow: 10px 5px 15px #000000;
}
.content{
  text-align: center;
}
/*content design*/
.foodlist {
  display: none;
}

/* Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.foodex-dropdown {
  position: relative;
  display: inline-block;
  border:solid;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content img {
  max-width: 150px;
          max-height: 150px;
}

/* Change color of dropdown links on hover */
.dropdown-content img:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.foodex-dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.foodex-dropdown:hover .dropbtn {background-color: #3e8e41;}

/*----------------------------------------*/

/*---footer design----*/
footer{
  padding:20px;
  background-color:rgba(0,0,0,0.6);
  color:#5487DB;
  text-align: center;
}

footer a{
  color:#5487DB;
  text-decoration: none;
  margin:10px;
}

footer a:hover{
  text-decoration: underline;
}
