
*{ color:white }

body{
  text-align: center;
  font-family:Quicksand;
  background-color: #5487DB;

}
nav{
  text-align: center;
  padding: 10px;
  margin: 10px;
}

nav>a{
  padding: 10px;
  margin: 10px;
  border-radius:40%;
  text-decoration: none;
}

nav>a:hover{
  background-color:rgb(84, 135, 219);
}

.content > h3:hover{
  cursor: pointer;
  text-decoration: underline;
}

.foodlist{
  display: none;
}

.fooddesc{
  display: inline-block;
  border:solid white;
  padding:10px;
  box-sizing: border-box;
}

footer{
  padding:20px;
  background-color:rgba(0,0,0,0.6);
  color:rgba(237, 179, 120,1);
}

footer a{
  color:rgba(237, 179, 120,1);
  text-decoration: none;
  margin:10px;
}

footer a:hover{
  text-decoration: underline;
}
